{{ define "main" }}
<article class="page list">
  <header class="page-header">
    <div class="container">
      <h1>{{ .Title }}</h1>
      {{ with .Description }}<p class="page-description">{{ . }}</p>{{ end }}
    </div>
  </header>

  <div class="container content-wrapper">
    <div class="content">
      {{ .Content }}
    </div>

    {{ if .Pages }}
    <ul class="page-list">
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</article>
{{ end }}
